// ===============================================================
// ±IMPORTS
// ===============================================================

@import "compass/css3";
@import "normalize";



// ===============================================================
// ±VARIABLES
// ===============================================================

// hsl Hue value
$project-color: 200;

// ±SUPER-VIS!
// ===============================================================

$crisis-1-media: 40%;
$crisis-1-funds: 60%;

$crisis-2-media: 30%;
$crisis-2-funds: 80%;

$crisis-3-media: 70%;
$crisis-3-funds: 50%;

$crisis-4-media: 40%;
$crisis-4-funds: 90%;

$crisis-5-media: 100%;
$crisis-5-funds: 50%;

$crisis-6-media: 40%;
$crisis-6-funds: 90%;


// ===============================================================
// ±TYPORGRAPHY
// ===============================================================

body{
  color: hsl(0,3,45);
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  line-height: 22px;
}

h1,h2,h3,h4{
  color: hsl(0,1,35);
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  text-align: center;
}

h1{
  font-size: 46px;
  line-height: 52px;
}

h2{
  font-size: 32px;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: italic;
  line-height: 40px;
}

h3{
  font-size: 28px;
  line-height: 34px;
}

h4{
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

h5{
  font-size: 18px;
  line-height: 24px;
}

h6{
  font-size: 16px;
  line-height: 22px;
}

h1,h2,h3,p,ol,ul{
  margin: 0 0 22px 0;
}

ul,ol{
  list-style: none;
  padding: 0;
}

hr{
  border: none;
  height: 1px;
  border-top: 1px dashed hsl(0,0,70);
  margin: 42px 0;
}

a{
  color: hsl($project-color,50,50);

  &:hover{
    color: hsl($project-color,100,50)
  }

  &:visted{
    color: hsl($project-color,50,50);
  }
}

// ===============================================================
// ±GENERAL STYLES
// ===============================================================

*{
  @include box-sizing(border-box);
}

.header{
  background-color: hsl($project-color,30,40);
  padding: 20px 0;

}

.title{
  color: white;
  width: 780px;
  margin: 0 auto;
}

.wrap{
  width: 780px;
  margin: 40px auto 0;
}

.challenge{
  margin-bottom: 44px;
}

.intro{

}

// Crisis colors
// ===============================================================

$crisis-color-1: 0;
$crisis-color-2: 60;
$crisis-color-3: 120;
$crisis-color-4: 180;
$crisis-color-5: 240;
$crisis-color-6: 300;

.visualization-section{

}

.visualization-title{
  margin-bottom:0;

}

.visualization-container{
  border: 1px solid hsl(0,0,80);
  height: 520px;
  width: 100%;
  margin-bottom: 22px;

}

#graph{
  width: 760px;
  height: 400px;
  margin: 10px;

  [class*="#{crisis}"]{
    width: 110px;
    height: 100%;
    float: left;
    margin-right: 20px;
    position: relative;


    .media, .funds{
      position: absolute;
      height: 100%;
      @include border-top-radius(5px);
      bottom: 0;
    }      

    .media{
      width: 50px;
      margin-right: 5px;
      left: 0;
    }

    .funds{
      width: 50px;
      background-image: url("../images/stripe.png");
      left: 55px;
    }

    &:nth-child(6){
      margin-right: 0;
    }

    &:nth-child(1){
      .media{
        background-color: hsl($crisis-color-1,100,70);
        height: $crisis-1-media;
      }

      .funds{
        background-color: hsl($crisis-color-1,100,50);
        height: $crisis-1-funds;
      }
    }

    &:nth-child(2){
      .media{
        background-color: hsl($crisis-color-2,100,70);
        height: $crisis-2-media;
      }

      .funds{
        background-color: hsl($crisis-color-2,100,50);
        height: $crisis-2-funds;
      }
    }

    &:nth-child(3){
      .media{
        background-color: hsl($crisis-color-3,100,70);
        height: $crisis-3-media;
      }

      .funds{
        background-color: hsl($crisis-color-3,100,50);
        height: $crisis-3-funds;
      }
    }

    &:nth-child(4){
      .media{
        background-color: hsl($crisis-color-4,100,70);
        height: $crisis-4-media;
      }

      .funds{
        background-color: hsl($crisis-color-4,100,50);
        height: $crisis-5-funds;
      }
    }

    &:nth-child(5){
      .media{
        background-color: hsl($crisis-color-5,100,70);
        height: $crisis-5-media;
      }

      .funds{
        background-color: hsl($crisis-color-5,100,50);
        height: $crisis-5-funds;
      }
    }

    &:nth-child(6){
      .media{
        background-color: hsl($crisis-color-6,100,70);
        height: $crisis-6-media;
      }

      .funds{
        background-color: hsl($crisis-color-6,100,50);
        height: $crisis-6-funds;
      }
    }
  }
}

.graph-titles{
  margin-left: 10px;
}

.graph-title{
  width: 110px;
  float: left;
  margin-right: 20px;
  text-align: center;

  &:nth-child(6){
    margin-right: 0; 
  }
}

.key div{
  display: block;
  width: 365px;
  text-align: center;
  margin: 10px;
  background-color: hsl(0,0,50);
  font-family: 'Droid Sans', sans-serif;
  color: white;
  float: left;
  padding: 5px 0;

  &:nth-child(2n){
    float: right;
    background-image: url("../images/stripe.png");
  }
}

.visualization-caption{
  display: block;
  border-top: 1px solid hsl(0,0,80);
  padding: 5px 0;
  text-align: center;
  font-style: italic;
}

.visualization-description{

}

.crisis-container{
  margin-top: 22px;
  float: left;
}

.crisis-container li{
  width: 380px;
  float: left; 
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px;

  span{
    display: block;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
  }

  h4{
    text-align:left;
  }

  &:nth-child(2n){
    margin-right: 0;
  }

  &:nth-child(1){
    background-color: hsl($crisis-color-1,100,90);
  }

  &:nth-child(2){
    background-color: hsl($crisis-color-2,100,90);
  }

  &:nth-child(3){
    background-color: hsl($crisis-color-3,100,90);
  }

  &:nth-child(4){
    background-color: hsl($crisis-color-4,100,90);
  }

  &:nth-child(5){
    background-color: hsl($crisis-color-5,100,90);
  }

  &:nth-child(6){
    background-color: hsl($crisis-color-6,100,90);
  }
}

.ddc-blurb{
  margin-top: 44px;
  padding-top: 44px;
  border-top: 1px dashed hsl(0,0,70);
}

.ddc-link,
.ddc-link h3{
  color: hsl($project-color,50,50);

  &:hover{
    color: hsl($project-color,100,50);
  }
}

.source-link{
  display: block;
  background-color: hsl($project-color,50,50);
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  width: 400px;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;

  @include border-radius(5px); 

  &:hover{
    background-color: hsl($project-color,100,50);
    color: white;
  }
}

.authors{
}

ul.authors{
  margin-bottom: 100px;
}

.author{
  width: 255px;
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;

  // &:nth-child(3n-1){
  //   margin: 0 18px;
  // }

  a{
    display: block;
  }
}

// ===============================================================
// ±CHART
// ===============================================================
